<style>
    * {
        font-family: cursive !important;
    }
    
    .td-nav {
        padding: 13px !important;
    }
    
    .table-nav {
        box-shadow: none !important;
    }
    
    .button-nav-1 {
        font-size: 28px;
        border-radius: 0 0 0 1em;
        border: #ffffff;
    }
    
    .button-nav-2 {
        font-size: 28px;
        border-radius: 0 1em 0 0;
        border: #ffffff;
    }
    
    .select-nav {
        font-size: 28px;
        border-radius: 0.5em 0.5em 0 0;
        box-shadow: 0 0 10px #ffffff;
        text-align-last: center;
    }
    
    .ul-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
    }
    
    .li-nav {
        float: left;
    }
    
    .li-a-nav {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 28px;
    }
</style>

<ul class="ul-nav">
    <li class="li-nav"><a class="li-a-nav">CrossWord Generator</a></li>
    <li style="float: right; padding: 8px;">
        <button type="button" (click)="saveInput()" class="btn button-nav-1">Generate</button>
        <button class="btn button-nav-2" (click)="showGridAns()" *ngIf="!showAns">Show Answer</button>
        <button class="btn button-nav-2" (click)="hideGridAns()" *ngIf="showAns">Hide Answer</button>
    </li>
    <li style="float: right;">
        <table class="table-nav">
            <tr>
                <td class="td-nav">
                    <select (change)="gridTypefunc($event, 'number')" class="select-nav">
                    <option selected disabled>Grid size</option>
                    <option *ngFor="let data of gridType;" >{{data}}</option>
                     </select>
                </td>
                <td class="td-nav">
                    <select (change)="gridTypefunc($event, 'metrictype')" class="select-nav">
                      <option selected disabled>Symmetric Type</option>
                      <option *ngFor="let data of metricType;" >{{data}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </li>
</ul>
<div id="nc-main" class="back">
    <div class="full-wh">
        <div class="container">
            <div class="row">

                <div id="puzzle-clues" style="padding-left: 33px; height: 509px;">
                    <i><u><h2>Across:</h2></u></i>
                    <ol id="across">
                        <li (click)="showAnswer(i,template)" *ngFor="let keys of answerHintacross;let i=index;" id="clueSide_1">{{keys.values}} </li>
                    </ol>
                </div>

                <div class="col" id="puzzle-clues" style="padding-right: 20px; height: 509px;">
                    <u><i><h2>Down:</h2></i></u>
                    <ol id="across">
                        <li (click)="showAnswer(i,template)" *ngFor="let keys of answerHintdown;let i=index;" id="clueSide_1">{{keys.values}} </li>
                    </ol>
                </div>
                <div class="col" id="puzzle-wrapper">
                    <table id="puzzle" *ngIf="!showAns">
                        <tbody>
                            <tr *ngFor="let data of arrayList;let rowIndex=index;">
                                <td *ngFor="let temp of data.row;let keyIndex=index;" data-coords='123'>
                                    <input [ngClass]="{'wrong':temp.state==='not_present','correct':temp.state==='present'}" (keyup)="keyUp($event,rowIndex,keyIndex)" *ngIf="temp.value!='0' " maxlength="1" id="i" type="text">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="puzzle" *ngIf="showAns">
                        <tbody>
                            <tr *ngFor="let data of arrayList;let rowIndex=index;">
                                <td *ngFor="let temp of data.row;let keyIndex=index;" data-coords='123'>
                                    <input readonly *ngIf="temp.value!='0'" [(ngModel)]="temp.value" maxlength="1" id="i" type="text" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title test-center"><img src="../assets/image.png">Hint :{{ modalService.config.initialState }}</h4>
    </div>

</ng-template>