<!--Left Side Start.-->
<!-- Navbar -->
<nav class="navbar navbar-default back">
    <div class="container">
        <h1><img class="navbarImage" src="../assets/image.png">&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="color-white" href="#">IES HACKATHON</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <img class="navbarImage" src="../assets/image2.png">
        </h1>
    </div>
</nav>
<div class="container container-contain text-center text-wrap back">
    <!--Left Side Start.-->
    <div id="puzzle-wrapper">
        <table id="puzzle">
            <tbody>
                <tr *ngFor="let data of arrayList;let rowIndex=index;">
                    <td *ngFor="let temp of data.row;let keyIndex=index;" data-coords='123'>
                        <input [ngClass]="{'wrong':temp.state==='not_present','correct':temp.state==='present'}" (keyup)="keyUp($event,rowIndex,keyIndex)" *ngIf="temp.value!='0' " maxlength="1" id="i" type="text">
                    </td>
            </tbody>
        </table>
    </div>
    <!--Left Side End.-->
    <div id="puzzle-clues">
        <h2>Words With Clues</h2>
        <ol id="across">
            <li (click)="showAnswer(i,template)" *ngFor="let keys of answerHint;let i=index;" id="clueSide_1">{{keys.values}} </li>
        </ol>
    </div>
    <!--Right Side End. -->
</div>
<!-- Footer -->
<footer class="container-footer bg-4 text-center back">

    <div class="row text-center">
        <div class="col-sm-14">
            <div class="col-sm">
                <div class="card-body text-center">
                    <h4>Presented By: </h4>
                    <h4> chetan.sengar@wipro.com / samuel.katapor@wipro.com / anurag.patil@wipro.com</h4>
                </div>
            </div>
        </div>
    </div>
</footer>
<router-outlet></router-outlet>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title test-center"><img src="../assets/image.png">Hint :{{ modalService.config.initialState }}</h4>
    </div>

</ng-template>
