body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    font-family: Arial, Helvetica, sans-serif !important;
}

tr td {
    position: relative;
}

ul li {
    list-style: none;
}

tr td p {
    color: #00000091;
    position: absolute;
    bottom: 16px;
    font-weight: 600;
    font-size: 11px;
}

.back {
    background: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a.color-white {
    color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.textSize {
    font-size: 30px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.container {
    padding: 20px !important;
    margin: 0px !important;
    width: 100%;
}


/*Puzzle*/

.wrong {
    background: #dd5252 !important;
    color: white !important;
}

.correct {
    background: #4cd463 !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    box-shadow: 0 0 30px #757474;
}

button {
    border-radius: 2em;
}

table tr {
    width: 100%;
}

table td {
    width: 3em;
    height: 3em;
    border: 1px solid #000000;
    padding: 0;
    margin: 0;
    background-color: #000000;
    position: relative;
}

td input {
    width: 100%;
    height: 100%;
    padding: 0em;
    border: none;
    text-align: center !important;
    font-size: 2em;
    color: #202020;
    background-color: #f4f4f4;
}

td input:focus {
    background-color: #fff;
}

h4 {
    text-align: center !important;
    font-size: 1em !important;
    color: rgb(255, 255, 255) !important;
}

h1 {
    text-align: center !important;
}

input.done {
    font-weight: bold;
    color: green;
}

#puzzle-wrapper {
    display: inline;
    float: right;
    margin-right: 60px;
    padding-top: 18px;
}

#puzzle-clues {
    float: left;
    color: #000000;
    text-align: left !important;
    box-shadow: 0 0 30px #757474;
    border-radius: 0 2em 0 2em;
    padding-left: 20px;
    padding-right: 10px;
    height: fit-content;
    margin-left: 100px;
}

#puzzle-clues li {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}