<section>
    <div class="container cont">
        <div class="background-img">
            <div class="box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h1>!! Welcome !!</h1><br>
                    <h4>to</h4><br>
                    <h3>CROSSWORD PUZZLE</h3><br>
                    <hr><br>
                    <p>Please chose your difficulty level and let the game begins.</p>
                    <br>
                    <form class="text-center">
                        <!--  -->
                        <div class="select">
                            <table>
                                <tr>
                                    <td>
                                        <select (change)="gridTypefunc($event, 'number')">
                                        <option selected disabled>Grid size</option>
                                        <option *ngFor="let data of gridType;" >{{data}}</option>
                                        <!-- <option value="2">12</option>
                                        <option value="3">15</option> -->
                                         </select>
                                    </td>
                                    <td>&nbsp;
                                        <select (change)="gridTypefunc($event, 'metrictype')">
                                          <option selected disabled>Symmetric Type</option>
                                          <option *ngFor="let data of metricType;" >{{data}}</option>
                                          <!-- <option value="2">Central</option>
                                          <option value="3">Vertical</option>
                                          <option value="4">Horizontal</option>
                                          <option value="5">Asymmetry</option>
                                          <option value="6">Diagonal</option> -->
                                        </select>
                                    </td>
                                    <td>
                                        <select (change)="gridTypefunc($event, 'themetype')">
                                          <option selected disabled>Theme Type</option>
                                          <option *ngFor="let data of themeType;" >{{data}}</option>
                                          <!-- <option value="2">Biology</option>
                                          <option value="3">Random</option> -->
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- <input maxlength="1" min="1" (input)="setInputValue($event)" type="number" placeholder="Enter Grid Value">
                      <input (input)="setInputValue($event)" type="text" placeholder="Enter Matrix Type">
                      <input (input)="setInputValue($event)" type="text" placeholder="Enter Theme Type"> -->
                        <button type="button" (click)="saveInput()" class="btn first">Start</button>
                    </form>
                </div>
            </div>
            <img class="imageMario">
        </div>
    </div>
</section>
